extends layout

block content
    #main
        if status!='active'
            button.button 
                i.fa.fa-lightbulb-o(aria-hidden='true')
        else
            button.button.active
                i.fa.fa-lightbulb-o(aria-hidden='true')