extends layout

block content
	#main
		if status == 'on'
			button.button.active
				i.fa.fa-lightbulb-o(aria-hidden='true')
		else if status == 'off'
			button.button
				i.fa.fa-lightbulb-o(aria-hidden='true')