doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap/bootstrap.min.js')
    script(src='/javascripts/script.js')
  body
    block content
